<input type="hidden" id="fld_scroll_to" value="{{ scroll_to }}">
<div class="section-hidden section-visible">
    <h2>Queue messages {{ queue.getName() }}</h2>
    <div class="hider" style="display:block;">
        <form method="get" id="move_message_form" >
            <select name="vhost_name" class="autosubmit">
                <option value="">Please choose a vhost</option>
                {% for vhost_item in vhosts %}
                    <option {{ vhost_name == vhost_item.getName() ? 'selected' }}>{{ vhost_item.getName() }}</option>
                {% endfor %}
            </select>

            <select name="queue_name" class="autosubmit">
                {% if vhost_name %}
                    <option value="">Please choose a queue</option>
                    {% for queue_item in queues %}
                        <option {{ queue_name == queue_item.getName() ? 'selected' }}>
                            {{ queue_item.getName() }}
                        </option>
                    {% endfor %}
                {% else %}
                    <option value="">Choose a vhost first</option>
                {% endif %}
            </select>

            <select name="limit" class="autosubmit">
                <option{{ limit == 1 ? ' selected' }} value="1">1 message</option>
                <option{{ limit == 5 ? ' selected' }} value="5">5 message</option>
                <option{{ limit == 10 ? ' selected' }} value="10">10 messages</option>
                <option{{ limit == 10 ? ' selected' }} value="10">10 messages</option>
                <option{{ limit == 20 ? ' selected' }} value="20">20 messages</option>
                <option{{ limit == 40 ? ' selected' }} value="40">40 messages</option>
                <option{{ limit == 50 ? ' selected' }} value="50">50 messages</option>
                <option{{ limit == 100 ? ' selected' }} value="100">100 messages</option>
                <option{{ limit == 200 ? ' selected' }} value="200">200 messages</option>
            </select>

            {% if  queue_name == 'failed.dead' %}
                <a class="info f-right" href="/message/overview?vhost_name={{ vhost_name|url_encode }}&queue_name={{ queue_name|url_encode }}&limit={{ limit }}&_do=RequeueAll">
                    Requeue all
                </a>
            {% endif %}
            <a class="danger f-right" href="/message/overview?vhost_name={{ vhost_name|url_encode }}&queue_name={{ queue_name|url_encode }}&limit={{ limit }}&_do=ConfirmPurge">
                Purge queue
            </a>
            <a class="info f-right" href="/message/generate?vhost_name={{ vhost_name|url_encode }}&queue_name={{ queue_name|url_encode }}">
                Add test message(s)
            </a>
            <a class="info f-right" href="/queue/change?vhost={{ vhost_name|url_encode }}&queue={{ queue_name|url_encode }}">
                Queue settings
            </a>
        </form>

        {% if messages %}
            <table class="form" style="margin-top:30px; width:100%">
                <tbody>
                    <thead>
                        <tr>
                            <td>Routing key</td>
                            <td>Payload</td>
                            <td></td>
                        </tr>
                    </thead>
                    {% for message in messages %}
                        <tr>
                            <td style="width:70%;">
                                <form method="post" id="frm_{{ loop.index }}" class="track_scroll_form" action="/message/overview">
                                    <input type="hidden" class="fld_scrollPos" name="scroll_to" value="0">
                                    <input type="hidden" name="vhost_name" value="{{ vhost_name }}">
                                    <input type="hidden" name="queue_name" value="{{ queue_name }}">
                                    <input type="hidden" name="limit" value="{{ limit }}">
                                    <input type="hidden" name="delivery_tag" value="{{ loop.index }}">
                                    <input type="hidden" name="_do" value="Requeue">
                                    <input type="hidden" name="original_queue" value="{{ message.getProperties()['headers']['x-death'][0]['queue'] }}">
                                    <input type="hidden" name="exchange" value="{{ message.getProperties().headers['x-first-death-exchange'] }}">
                                    <textarea name="payload" style="width:100%;height:250px;overflow: scroll;border:1px solid black">{{ message.getPrettyfiedPayload() }}</textarea>
                                </form>
                            </td>
                            <td style="vertical-align: top; width:30%;">
                                <div style="margin-bottom: 20px;">
                                    {% if message.getProperties().headers['x-death'] is iterable %}
                                        <button data-forform="frm_{{ loop.index }}" class="info requeue_button">
                                            Requeue
                                        </button>
                                    {% endif %}
                                    <a class="danger" href="/message/overview?vhost_name={{ vhost_name|url_encode }}&queue_name={{ queue_name|url_encode }}&limit={{ limit }}&_do=DeleteMessage&delivery_tag={{ loop.index }}">
                                        Delete
                                    </a>
                                    <div class="cl"></div>
                                </div>

                                <table>
                                    {% if message.getProperties().headers['x-death'] %}
                                        <tr>
                                            <td>Original queue</td>
                                            <td>
                                                <a href="/message/overview?vhost_name={{ vhost_name|url_encode }}&queue_name={{ message.getProperties()['headers']['x-death'][0]['queue']|url_encode }}">
                                                    {{ message.getProperties()['headers']['x-death'][0]['queue'] }}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Reason</td>
                                            <td>{{ message.getProperties()['headers']['x-death'][0]['reason'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Orignal exchange</td>
                                            <td>
                                                {{ message.getProperties()['headers']['x-death'][0]['exchange'] ? message.getProperties()['headers']['x-death'][0]['exchange'] : 'Direct' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dead letter time</td>
                                            <td>
                                                {{ message.getProperties().headers['x-death'].time|date("m/d/Y H:m:s") }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>Delivery mode</td>
                                        <td>{{ message.getProperties()['delivery_mode'] == '2' ? 'Persistent' : 'Non persistent' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Routing key</td>
                                        <td>{{ message.getProperties()['headers']['x-death'][0]['routing-keys'][0] }}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>