{##}
<h1>Queues</h1>
<div class="section section-visible">
    <h2 class="updatable"> All queues ({{ queues.count() }})</h2>
</div>


<div class="updatable">

    <table class="list">
        <thead>
            <tr>
                <th colspan="3">Overview</th>
                <th colspan="3">Messages</th>
                <th colspan="3">Message rates</th>
            </tr>
            <tr>
                <th><a class="sort" sort="vhost">Virtual host</a></th>
                <th><a class="sort" sort="name">Name</a></th>
                <th>Actions</th>

                <th><a class="sort" sort="messages_ready">Ready</a></th>
                <th><a class="sort" sort="messages_unacknowledged">Unacked</a></th>
                <th><a class="sort" sort="messages">Total</a></th>

                <th><a class="sort" sort="message_stats.publish_details.rate">incoming</a></th>
                <th><a class="sort" sort="message_stats.deliver_get_details.rate">deliver / get</a></th>
                <th><a class="sort" sort="message_stats.ack_details.rate">ack</a></th>
            </tr>
        </thead>
        <tbody>
            {% for queue in queues %}
                <tr class="alt{{ loop.index is odd? '1' : '2' }}">
                    <td>{{ queue.getVhost() }}</td>
                    <td>
                        <a href="/message/overview?vhost_name={{ queue.getVhost()|url_encode }}&queue_name={{ queue.getName()|url_encode }}">
                            {{ queue.getName() }}</a>
                    </td>
                    <td class="c">


                        {% for argument_name, argument_value in queue.getArguments() %}
                            {% if argument_name == 'x-message-ttl' %}
                                <abbr title="TTL: {{ argument_value }}">
                                    TTL
                                </abbr>
                            {% elseif argument_name == 'x-dead-letter-exchange' %}
                                <abbr title="x-dead-letter-exchange: {{ argument_value }}">
                                    DLX
                                </abbr>
                            {% else %}
                                {{ argument_name }} {{ argument_value }}
                            {% endif %}
                        {% endfor %}
                        {% if queue.getDurable() %}
                            <abbr class="policy" title="Durable:true">
                                D
                            </abbr>
                        {% endif %}

                        {% if queue.getAutoDelete() %}
                            <abbr class="policy" title="AD:true">
                                AD
                            </abbr>
                        {% endif %}


                        {% if queue.getPolicy() %}
                            <abbr class="policy">
                                <a href="#">
                                    {{ queue.getPolicy }}
                                </a>
                            </abbr>
                        {% endif %}
                        <abbr class="green" title="Change this queue safely">
                            <a href="/queue/change?vhost={{ queue.getVHost()|url_encode }}&queue={{ queue.getName()|url_encode }}">
                                Queue settings
                            </a>
                        </abbr>
                        <abbr class="green" title="Move messages to another queue">
                            <a href="/message/move?from_vhost={{ queue.getVHost()|url_encode }}&from_queue={{ queue.getName()|url_encode }}">
                                Move messages
                            </a>
                        </abbr>
                        <abbr class="red" title="Permanently delete this queue">
                            <a href="/?vhost={{ queue.getVHost()|url_encode }}&queue={{ queue.getName()|url_encode }}&_do=ConfirmDelete">
                                Delete queue
                            </a>
                        </abbr>

                    </td>
                    <td class="r">{{ queue.getMessagesReady() }}</td>
                    <td class="r">{{ queue.getMessagesUnacknowledged() }}</td>
                    <td class="r">{{ queue.getMessages() }}</td>
                    <td class="r"></td>
                    <td class="r"></td>
                    <td class="r"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


